// Default
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
 	background-color: var(--bg-color);
 	color: var(--body-color);
	margin:0;
	padding:0;
	line-height: 1.5;
}

a {
	transition: opacity .2s;
	&:hover {
		opacity: .8;
	}
}

img {
	max-width: 100%;
}

figure {
	padding-bottom: ($global-gutter * .5);
	@include breakpoint(lg) {
		padding-bottom: ($global-gutter-lg * .75);
	}
}