// Light default theme
body {
	--color-primary: #ff7171;
	--color-secondary: #fff0ae;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-dark-gray: #707070;
	--color-gray: #a3a3a3;
	--color-light-gray: #f6f6f6;

	--bg-color: #ffffff;
	--bg-code: #fffbf3;
	--body-color: #000000;
	--alt-text-color: #a3a3a3;
	--link-color: #a3a3a3;
	--border-color:  rgba(0,0,0,.1);;
	--space: 3.5rem;
	--content-width: 860px;
	--header-height: 80px;
	--radius: 1px;
}

// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: #272626;
 	--bg-code: rgba(0,0,0,.3);
 	--border-color:  rgba(255,255,255,.1);;
 	--body-color: #dbdada;
	--alt-text-color: #8f8e8e;
 	--link-color: #8f8e8e;
}